* {
	font-family: 'Barlow', 'Montserrat', 'Arial';
}

#preamble {
	font-size: 16pt;
}

.container, .steps {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 24pt;
	font-weight: bold;
}

.steps {
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.container > .title {
	background-image: linear-gradient(45deg, #222, #555);
	color: #fff;
	border-radius: 15px 0 0 15px;
	align-self: stretch;
	display: flex;
	align-items: center;
	padding: 15px;
}

.steps {
	padding: 15px;
	background-image: linear-gradient(45deg, #ccc, #eee);
	border-radius: 0 15px 15px 0;
}

.step {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 10px;
	border-radius: 10px;
	padding: 10px 20px;
	border: 1px solid rgba(0,0,0,0.4);
}

img {
	width: 40px;
}
.title {
	margin-bottom: 3px;
}

.resource > span {
	padding-left: 8px;
}

.resource.food {
	background-image: linear-gradient(45deg, #DD7777, #FFBBBB);
}
.resource.wood {
	background-image: linear-gradient(45deg, #95622B, #D9A66F);
}
.resource.gold {
	background-image: linear-gradient(45deg, #FFB43D, #FFD65F);
}
.resource.stone {
	background-image: linear-gradient(45deg, #777, #aaa);
}

.age {
	height: 100%;
	background-image: linear-gradient(45deg, #000, #444);
}

.balance {
	background-image: linear-gradient(45deg, #aac, #ddf);
}
.balance .resources{
	display: flex;
	flex-direction: column;
}
.balance-title {
	writing-mode: vertical-rl;
	font-size: 12pt;
}

.build, .research {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(45deg, #ddd, #fff);
}
.unit, .building {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}