* {
	font-family: 'Barlow', 'Montserrat', 'Arial';
}

#preamble {
	font-size: 16pt;
}

.container, .steps {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 24pt;
	font-weight: bold;
}

.container > .title {
	padding: 15px;
	background-image: linear-gradient(45deg, #222, #555);
	color: #fff;
	border-radius: 15px 0 0 15px;
}

.steps {
	padding: 15px;
	background-color: #eee;
	border-radius: 0 15px 15px 0;
}

.step {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 10px;
	border-radius: 10px;
	padding: 10px 20px;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

img {
	width: 40px;
}

.resource > span {
	padding-left: 8px;
}

.resource.food {
	background-image: linear-gradient(45deg, #DD7777, #FFBBBB);
}
.resource.wood {
	background-image: linear-gradient(45deg, #95622B, #D9A66F);
}
.resource.gold {
	background-image: linear-gradient(45deg, #FFB43D, #FFD65F);
}
.resource.stone {
	background-image: linear-gradient(45deg, #BBBBBB, #EEEEEE);
}

.age {
	height: 100%;
	background-image: linear-gradient(45deg, #000, #444);
}

.balance {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	background-color: #ddd;
}
.balance .resources{
	display: flex;
	flex-direction: column;
}
.balance-title {
	writing-mode: vertical-rl;
	font-size: 12pt;
}

.build, .research {
	display: flex;
	flex-direction: column;
}
.unit, .building {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}